body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

nav {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
}

#nav-ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
  margin: 1rem;
  
}

ul > li {
  list-style-type: none;
}

#site-search {
  border-radius: 5px;
  margin-left: 1rem;
}

.join-button {
  background-color: #ffffff;
  padding: 7px 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

.join-button:hover{
  background-color: rgb(36, 33, 33);
  color: #fff;
  border: 1px solid #fff;
}

main {
  display: flex;
  justify-content: center;
  height: fit-content;
  margin: 20px;
}
.content-wrapper {
  width: 1200px;
  height: fit-content;
  position: relative;
}

/*Intro section styling///////////////////////////////*/

#intro-section {
  width: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.halfway-content {
  height: 100%;
  width: 100%;
}

.left-content {
  display: flex;
  justify-content: center;
}

.left-intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25%;
}

.left-intro-content > h1 {
  font-size: 2rem;
  margin-bottom: 0;
}

.right-intro-content > picture > img {
  margin-top: 10%;
  max-width: 100%;
  height: auto;
}

/* ================ How it works section ========================== */
#how-it-works {
  margin-top: 10%;
  height: 30vh;
}

.wrapper > span > h2 {
  margin: 0;
}

.options-wrapper {
  margin-top: 5vh;
  width: 100%;
  height: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.step-btn {
  background-color: #367cff;
  border-radius: 6px;
  outline: none;
  border: 1px solid;
  padding: 8px 25px;
  color: #fff;
  margin-top: 10px;
}

.option1 {
  height: fit-content;
  text-align: center;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.option1 > p {
  padding: 0px 20px;
}

.option2 > p {
  padding: 0px 20px;
}
.option2 {
  height: fit-content;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-left: 10px;
  border-radius: 5px;
}

/*Find your app*/
#find-your-app {
  position: relative;
  width: 100%;
  margin-top: 15vh;
}

/*search bar*/
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  /* width: 50px; */
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem;
}

.card {
  cursor: pointer;
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 10rem;
  border-radius: 5px;
  box-shadow: rgb(145 145 145 / 20%) 0px 2px 8px 0px;
  margin-right: 1rem;

}

.card > header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font-size: 0.8rem;
  color: #777;
}

.hide {
  display: none;
}

/* Image fit in divs*/
.imageFit {
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
}

/*searchbar code*/
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  padding: .5rem;
  gap: 1rem;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}

.imageSize {
  width: 10%;
  height: auto;
}

.appInformationContainer {
  width: 100%;
  background-color: #fff;
  height: 50vh;
  bordeR: 1px solid #dbdbdb;
  position: absolute;
  top: -50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  display: none;
}

.text-center {
  text-align: center;
}

.app-cards {
  background-color: #fefefe;
  height: 90%;
  width: 60%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/*Information container hidden/shown */
.hidden {
  display: block;
}

.center-column-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoWrapper {
  width: 100%;
  height: 100%;
  /* border: 1px solid #f9f9f9; */
}
#app-info-titles {
  display: flex;
  flex-direction: column;
  padding: 5px;
 
}
#app-info-titles > li{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#app-info-titles > li > p {
  margin-left: 0.75rem;
}

.card:hover {
  animation-name: hover;
  animation-duration:0.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-direction: alternate 
}

/* media querys */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    #intro-section {
      height: auto;
      display: flex;
      flex-direction: column;
     
    }
    .left-intro-content {
      margin-top: 0;
    }

    #option1 {
      margin: 0;
    }

    #option2 {
      margin: 0;
    }
    #how-it-works {
      height: 40vh;
    }
    .options-wrapper {
      height: auto;
    }

    #get-started-button {
      padding: 10px 10px;
      width: 100%;
      border-radius: 20px;
      font-weight: bold;
  }
  .imageFit {
    width: 25%;
  }

  .card {
    padding: .5rem;
    border: 1px solid #e5e5e5;
    margin-right: 0;
    /* display: none; */
    margin-bottom: 10px;

  }

  #nav-ul {
    margin: 0.75rem 1.5rem;
}

.appInformationContainer {
  top: -15%;
}


}



@keyframes hover {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-5px);
  }
}

/* --------------------------Appinformationcontainer styling STARTS HERE ------------------------------------*/

#app-logo {
  padding-bottom: 3vh;
}

#fig-caption {
  font-weight: bold;
  font-size: 1.125rem;
}

#close-container {
  position: relative;
}

.close-btn-container {
  height: 5vh;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.close-btn {
  border: none;
  background-color: red;
  color: #fff;
  padding: 5px 15px;
  border-radius: 1px;
}